body {
  margin: 0;
}

#grid {
  width: 800px;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
}

.imgContainer {
  width: 400px;
  height: 400px;
}

.previewImg {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.previewImg:hover {
  opacity: 0.5;
}

#gameImage {
  width: 100%;
  top: 0;
}

#gameContainer {
  margin: 20px;
}

#gameboard {
  position: relative;
}

.charImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

#tag {
  position: absolute;
}

#targetBox {
  height: 20px;
  width: 20px;
  border: 2px solid red;
}

#characterList {
  margin: 0;
  padding: 0;
}

.characterTag {
  list-style: none;
  margin: 5px;
}

.characterTag:hover {
  cursor: pointer;
  background-color: lightgrey;
}